.List {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto; /* Center the List component */
}

.table-container {
  width: 90%;
  overflow-x: auto; /* Allows horizontal scrolling if table overflows */
}

.table {
  border-collapse: collapse;
  width: 100%; /* Ensure table takes the full width of the container */
  align-items: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap; /* Prevent content from wrapping */
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  align-items: center;
  background-color: #f2f2f2;
  color: black;
}

.lists-button {
  margin: 10px;
  width: auto;

}
