/* Custom styles for buttons */
.btn-custom {
  background-color: #009ba6;
  border-color: #009ba6;
  color: white;
}

.btn-custom:hover {
  background-color: #007c87;
  border-color: #007c87;
}

/* Custom styles for alerts */
.alert-custom {
  background-color: #009ba6;
  color: white;
}

/* Body background color */
body {
  background-color: #f8f9fa;
}

/* Admin main page styles */
.AdminMainPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Top bar styles */
.topBar {
  background-color: #009ba6;
  height: 4px;
  margin-bottom: 20px;
}

/* Dashboard styles */
.dashboard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.dashboard-item {
  background-color: #d3d3d3ba;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;
}

/* Modal styles */
.Modal {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

/* Page end styles */
.pageEnd {
  margin-top: 50px;
  text-align: center;
}

.pageEnd h2 {
  color: #009ba6;
}

/* Headings styles */
h1, h2 {
  color: #009ba6;
}

/* Navbar styles */
.navbar-custom {
  background-color: #000000;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo {
  max-height: 50px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-buttons .btn {
  background-color: #009ba6;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.navbar-buttons .btn:hover {
  background-color: #007c87;
  color: white;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* This will align content to the top of the container */
  flex-grow: 1;
  width: 100%;
}


/*Forms*/

.Form {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 800px; /* Increase width to accommodate both sections */
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Rubik';
  height: auto;
}

.Form h1 {
  font-size: xx-large;
  text-align: center;
  color: #009ba6;
  font-weight: bold;
  margin-top: 20px;
}

.Form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.Form button:hover {
  background-color: #8fb5b9;
}

.Fileds, .ruls {
  flex: 1; /* Ensure each section takes up equal space */
  margin: 10px;
}

.Fileds {
  text-align: right; /* Align text to the right for RTL language */
}

.ruls h2{
  font-size: x-large;
  color: #009ba6;
  margin: 20px;
}

.Form-container {
  display: flex;
  justify-content: space-between; /* Space out the sections */
  align-items: flex-start; /* Align sections at the top */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; /* Align items vertically */
  background: linear-gradient(to left, #141414 ,#535252); 
  height: fit-content;
  margin-top: 20px;
  left: 0;
  width: 100%;
}

.footer h2 {
  font-size: large;
  color: white;
  margin: 10px; /* Space between text and button */
  text-align: center;
  height:auto;
  size: 20px;
}

.footer .whatsapp-button {
  background-color: #1ebc57; /* WhatsApp green */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.footer .whatsapp-button:hover {
  background-color: #179b47; /* Slightly darker green on hover */
}

/*Login*/
.login .container {
  background-color: #f0f0f0; /* Light gray background */
  padding: 20px;
  border-radius: 8px;
}

.login .container .row {
  gap: 40px; /* Increase space between items */
}

.login h2 {
  color: #009ba6;
  font-weight: bold;
  font-size: xx-large;
}

.login .form-label {
  font-weight: bold;
}

.login .form-control {
  margin-bottom: 15px;
}

.login .btn-custom {
  background-color: #009ba6;
  color: #fff;
}

.login .container .forget-password-btn {
  margin-top: 20px;
  background-color:transparent;
  color: #007c87;
  border: none;
}

.login .container .forget-password-btn:hover {
  background-color: transparent;
  color: #01626b;
  transform: scale(1.05);
}

.login .alert-custom {
  background-color: #f8d7da;
  color: #721c24;
  margin-top: 15px;
}

.login .image-container {
  position: relative;
}

.login .image-container:hover .overlay {
  opacity: 1;
}

.login .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.login .overlay-text {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

.login .heart-image {
  border-radius: 8px;
  width: 100%; 
  max-width: 500px; /* Optional: set a max-width for better control */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the image */
}


/*Volunteer edit profile*/
.volunteerApp h1 {
  color: #009ba6;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
}

.volunteerApp button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.volunteerApp button:hover {
  background-color: #8fb5b9;
}

.passwordVolUpdate h1 {
  color: #009ba6;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 20px;
}

.passwordVolUpdate button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.passwordVolUpdate button:hover {
  background-color: #8fb5b9;
}
