/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Rubik';
  direction: rtl;
  background: linear-gradient(to right, #c8c8c8, #8fb5b9);
  height: 100vh; 
  margin: 0;
}

/* .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.message h1 {
  font-size: 24px;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input[type="text"],
input[type="tel"],
.dropdown-btn,
.checkbox-list,
/* button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 10px;

} */

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.radio-group input[type="radio"]:checked + label {
  background-color: #45a049;
  color: #fff;
}

textarea {
  height: 10%; 
  width: 100%;
}



/* button {
  background-color: #009ba6;
  color: white !important;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  width: auto;
  border-radius: 50px !important;
}

button:hover {
  background-color: #086d74;
}

button a {
  color: white !important;
  text-decoration: none; 
}

button a:hover {
  color: white !important;
  text-decoration: none; 
} */


.Button_list {
  background-color: white;
  color: black;
  border: 1px solid #ccc; 
  padding: 8px 16px; 
  cursor: pointer; 
  border-radius: 50px !important;

}

.Button_list.active {
  background-color: #f9f9f9; 
}



.checkbox-list {
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px;
  margin-top: 5px;
  background-color: #fff;
  position: absolute;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.checkbox-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.checkbox-item label {
  margin-left: 10px;
  font-size: 14px;
}



.dropdown-content {
  display: block;
  position: absolute;
  background-color: white; 
  min-width: 160px;
  overflow-y: auto; 
  max-height: 200px; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 

}

.city-list {
  padding: 5px 0;
}

/* .AdminMAinPage {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute; 
  top: 0;
  left: 0;
}

.AdminMAinPage h1 {
  font-size: 3.5em; 
  font-weight: bold; 
  text-align: center; 
  margin-top: 5%; 
}

.AdminMAinPage adminMainButton {
  display: inline-block;
  width: 12%; 
  height: 5%; 
  background-color: #009ba6; 
  color: white; 
  font-size: 150%; 
  border: none; 
  border-radius: 10px; 
  margin: 4%; 
  margin-top: 30%;
  cursor: pointer; 
  text-align: center; 

} */

/* .AdminMAinPage adminMainButton a {
  color: white; 
  text-decoration: none; 
  display: flex;
  justify-content: center;
  height: 100%; 


} */


.navbarVol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #141414;
  overflow: hidden; 
  background-image: url('/src/images/image1.jpg');
  background-size: cover; /* Adjust based on your image size requirements */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure component takes at least full viewport height */
}

.navbarVol-logo {
  display: flex;
  align-items: center;
}

.mainPageNav {
  position: fixed; /* Fixed position to keep it at the top */
  top: 0;
  left: 0;
  width: 100%; /* Full width */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding inside the navbar */
  z-index: 1000; /* Ensure it's above other content */  
  align-items: center;
}

.logo-image {
  width: 125px; 
  height: 60px;
  margin-right: 10px; 
  margin-bottom: 0px;
  margin-right: 10px; /* Add margin to separate logo from buttons */
  transition: transform 0.3s ease;
  transform-origin: center;
}

.logo-image:hover {
  transform: scale(1.1);
}

.navbarVol-links {
  display: flex;
  gap: 10px;
}

.navbarVol-links a, .navbarVol-links button {
  text-decoration: none;
  color: #007bff;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}


.navbar-buttons a {
  padding: 0;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.navbar-buttons button:hover {
  background-color: #086d74;
}

.navbarVol-links button:hover, .navbarVol-links a:hover {
  text-decoration: underline;
}


.flash {
  animation: flash-animation 0.3s ease-in-out;
}

@keyframes flash-animation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}



.passwordVolUpdate {
  margin-top: 10px;
  padding: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the start horizontally */
  padding: 10px;
}

.close-model-but {
  border: none;
  cursor: pointer;
  font-size: 20px; /* Adjust font size for the X */
  border-radius: 10px;
  width: 30px; /* Set fixed width */
  height: 30px; /* Set fixed height */
  position: absolute; /* Position the button absolutely */
  left: 10px; /* Adjust to position on the left */
  top: 10px; /* Adjust to position at the top */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.passwordVolUpdate form {
  display: flex;
  flex-direction: column;
}

.passwordVolUpdate label {
  font-weight: bold;
  margin-bottom: 5px;
}

.passwordVolUpdate input[type="email"],
.passwordVolUpdate input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.terms-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  flex-direction: row;
  white-space: nowrap; /* Prevent wrapping */
}

.terms-container input[type="checkbox"] {
  margin-right: 10px; 
}

.terms-container label {
  margin-right: 10px;
}



.box {
  border-radius: 50px;
  padding: 20px;
  background-color: #e8e8e8;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.box p {
  color: #666;
}

.match-container, .myRequests-container {
  margin-bottom: 15px;
  padding: 10px;
  border: 2px solid #009ba6;
  border-radius: 5px;
  background-color: #fff;
}

.match-container h3, .myRequests-container h3{
  margin-bottom: 5px;
  color: #333;
  font-size: 30px;
}

.match-container p, .myRequests-container p {
  margin-bottom: 5px;
  color: #666;
  font-size: 25px;
}

.box h2 {
  margin: 50px;
  color: #009ba6;
  font-size: 40px;
}

h2 {
  margin-top: 30px;
  font-size: 20px;
}

.pageEnd {
  margin-bottom: 0vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(to left, #141414, #535252);
  color: #f9f9f9;
  margin-top: auto; /* Push the pageEnd to the bottom */
  text-align: center; /* Center align contents */
  padding: 10px; /* Adjust padding as needed */
}

.pageEnd h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.VolunteerMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure component takes at least full viewport height */
  overflow: hidden; /* Prevent scrolling within VolunteerMain */
}


.ReactModal__Content {
  max-width: 500px;
  max-height: fit-content;
  margin: auto;
}

.box button {
  background-color: #009ba6;
  color: white !important;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  border-radius: 50px !important;
  width: auto; 
  height: auto; 
  padding: 10px;
  font-size: large;
  text-align: center;
  margin: 10px;
}

.box button:hover {
  background-color: #086d74;
}

.box a {
  color: white !important;
  text-decoration: none; 
}

.box a:hover {
  color: white !important;
  text-decoration: none; 
} 

.boxes-container {
  margin-top: 100px;
}

.lang {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.lang button {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.lang button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.lang button:focus {
  outline: none;
  box-shadow: 0 0 5px #45a049;
}


.ltr {
  direction: ltr;
  text-align: left;
}

.rtl {
  direction: rtl;  
  text-align: right;

}